*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

section {
  margin: 48px 0 0 0;
}

.subtext {
  font-family: "Amiri", serif;
  font-style: italic;
  margin: 0;
  font-size: 125%;
  color: grey;
}

.section-title {
  text-align: center;
  margin: 48px 0;
}

.section-title h1 {
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}

.container-fluid {
  background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.container {
  width: 1140px;
  padding: 20px;
}

.container .row .logo {
  font-family: "Lily Script One", cursive;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  color: #FEB70D;
}

.container .row .menu {
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-direction: row;
      flex-direction: row;
  font-weight: 400;
  color: #ffffff;
}

.container .row .menu ul li {
  display: inline-block;
  margin-left: 15px;
}

.container .row .menu ul li:hover {
  cursor: pointer;
  color: #B71C1C;
}

.container .welcome {
  color: #ffffff;
  text-align: center;
  margin: 96px 20px;
}

.container .welcome h2 {
  font-family: "Amiri", serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 28px;
  color: #ffffff;
}

.container .welcome h1 {
  color: #FEB70D;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 5px;
}

.container .welcome .button {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #B71C1C;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
}

.container .welcome .button:hover {
  cursor: pointer;
  background-color: #8b1515;
}

.service-tab {
  text-align: center;
  margin-top: 10px;
}

.service-tab .ico {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50px;
  border-color: #FEB70D;
}

.service-tab .ico i {
  position: absolute;
  color: #FEB70D;
  font-size: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery {
  background-color: #ecf0f1;
}

.gallery .gallery-tab {
  margin-top: 30px;
  text-align: center;
}

.gallery .gallery-tab img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery-tab .gallery-description {
  margin: -5px 0 auto;
  padding: 10px 0;
  background-color: #ffffff;
}

.gallery .gallery-tab .gallery-description h3, .gallery .gallery-tab .gallery-description p {
  margin: 0;
}

.social, .copy {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.social {
  font-size: 26px;
}

.social .socialico {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 5px;
}

.social .socialico:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.social i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .tt {
  background-color: #00acee;
  border-color: #00acee;
}

.social .fb {
  background-color: #3C5A99;
  border-color: #3C5A99;
}

.social .pin {
  background-color: #c8232c;
  border-color: #c8232c;
}

.social .googleplus {
  background-color: #d34836;
  border-color: #d34836;
}
/*# sourceMappingURL=style.css.map */