*, *::before, *::after {
    box-sizing: border-box; }

$color-one: #FEB70D;
$color-two: #B71C1C;
$color-text: #ffffff;


$font-text: 'Montserrat', sans-serif;
$font-header: 'Amiri', serif;
$font-logo: 'Lily Script One', cursive;


body {
font-family: $font-text;
font-size: 16px;
}

section {
    margin: 48px 0;
}

.section-title {
    text-align: center;
    margin: 48px 0;

    h1 {
        font-size: 28px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
    }
}

.container-fluid {
    background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
}

.container {
    width: 1140px;
    padding: 0 20px;
    min-height: 400px;    
    
    .row {
        padding: 15px;    
        .logo {
            font-family: $font-logo;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 2px;
            margin: 0;
            color: $color-one;

        }

        .menu {
            text-transform: uppercase;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            font-weight: 700;
            color: $color-text;

            ul {
                li {
                    display: inline-block;
                    margin-left: 15px;

                    &:hover {
                        cursor: pointer;
                        color: $color-one;
                    }
                }
            }    
        }
    }

    .welcome {
        color:  $color-text;
        text-align: center;
        margin: 0 20px;

        h2 {
            font-family: $font-header;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 3px;
            font-size: 28px;
            color: $color-text;
        }

        h1 {
            color: $color-one;
            font-weight: 700;
            font-size: 34px;
            letter-spacing: 5px;
        }

        .button {
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            background-color: $color-two;
            padding: 15px;
            border-radius: 5px;
            margin: 0 auto;
        }
    }
}

.service-tab {
    text-align: center;

    .ico {
        position: relative;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border: 2px solid black;
        border-radius: 50px;
        border-color: $color-one;
    }
    
        i {
            position: absolute;
            color: $color-one;
            font-size: 36px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}

.gallery {
    background-color: azure;
}