*, *::before, *::after {
    box-sizing: border-box; }

$color-one: #FEB70D;
$color-two: #B71C1C;
$color-text: #ffffff;


$font-text: 'Montserrat', sans-serif;
$font-header: 'Amiri', serif;
$font-logo: 'Lily Script One', cursive;


body {
font-family: $font-text;
font-size: 16px;
}

section {
    margin: 48px 0;
}

.subtext {
    font-family: $font-header;
    font-style: italic;
    margin: 0;
    font-size: 125%;
    color: grey;
}

.section-title {
    text-align: center;
    margin: 48px 0;

    h1 {
        font-size: 28px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
    }
}

.container-fluid {
    background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
}

.container {
    width: 1140px;
    padding: 20px;
    
    .row {
        .logo {
            font-family: $font-logo;
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 2px;
            margin: 0;
            color: $color-one;

        }

        .menu {
            text-transform: uppercase;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            font-weight: 400;
            color: $color-text;

            ul {
                li {
                    display: inline-block;
                    margin-left: 15px;

                    &:hover {
                        cursor: pointer;
                        color: $color-two;
                    }
                }
            }    
        }
    }

    .welcome {
        color:  $color-text;
        text-align: center;
        margin: 96px 20px;

        h2 {
            font-family: $font-header;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 3px;
            font-size: 28px;
            color: $color-text;
        }

        h1 {
            color: $color-one;
            font-weight: 700;
            font-size: 34px;
            letter-spacing: 5px;
        }

        .button {
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
            background-color: $color-two;
            padding: 15px;
            border-radius: 5px;
            margin: 0 auto;

            &:hover {
                cursor: pointer;
                background-color: darken($color-two, 10);
            }
        }
    }
}

.service-tab {
    text-align: center;

    .ico {
        position: relative;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border: 2px solid black;
        border-radius: 50px;
        border-color: $color-one;
    }
    
        i {
            position: absolute;
            color: $color-one;
            font-size: 36px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
}

.gallery {
    background-color: #ecf0f1;

    .gallery-tab {
        margin-top: 30px;
        text-align: center;

        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }

        .gallery-description {
            margin: -5px 0 auto;
            padding: 10px 0;
            background-color: #ffffff;

            h3, p {
                margin: 0;
            }
        }
    }
}

.social, .copy {
    width: 45%;
    display: inline-block;
    text-align: center;
}

.footerrow {
    justify-content: start;


.social {
    font-size: 26px;

    .socialico {
        display: inline-block;
        position: relative;        
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50px;
        margin: 0 5px;

        &:hover {
            filter: brightness(70%);
            cursor: pointer;
        }
    }

    i {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tt {
        background-color: #00acee;
        border-color:  #00acee;
    }

    .fb {
        background-color: #3C5A99;
        border-color:  #3C5A99;
    }

    .pin {
        background-color: #c8232c;
        border-color:  #c8232c;
    }

    .googleplus {
        background-color:#d34836;
        border-color:  #d34836;
    }
}

}